@use "../../App.scss" as var;


.card {
    width: 200px;
    background-color: var.$blue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    color: var.$milk;

    img {
        width: 100%;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        text-align: center;
        color: #666;
        margin-bottom: 8px;
    }
}