@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Color palette
$primary: #283aa4;
$secondary: #7ac3f5;
$complementary: #9369c2;
$tetiary: #5c5ab5;
$text: #F6F8FC;
$text-alt: #161515;
$bp-tablet: 768px;

.app {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}