@use "../../App.scss" as var;

.hero {
    padding: 5vh 10vw;
    background-color: var.$primary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var.$text;

    .hero-text {
        width: 50%;


        @media (max-width: var.$bp-tablet) {
            height: 40%;
            width: 100%;
        }
    }

    .hero-banner {
        width: 250px;
        aspect-ratio: 1;

        img {
            width: 100%;
        }

        @media (max-width: var.$bp-tablet) {
            width: 100%;
        }

    }

    @media (max-width: var.$bp-tablet) {
        flex-direction: column;
        row-gap: 50px;
    }
}

.featured {
    padding: 0 10vw;

    h1 {
        color: var.$text-alt;
        font-size: 3em;
        text-align: center;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.call-to-action {
    padding: 100px 50px;
    background-color: var.$secondary;
    color: var.$text;

    h2 {
        font-size: 2em;
    }

    hr {
        height: 3px;
        background-color: var.$text-alt;
        border: 0;
        width: 50px;
        margin-right: 100%;
        border-radius: 50px;
    }

    p {
        margin-block: 20px;
    }

    button {
        border: none;
        background: var.$secondary;
        padding: 10px 15px;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: var.$text;

        }
    }
}

.reviews {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;

    .review {
        background-color: var.$text;
        width: 25%;

        .review-head {
            display: flex;
            justify-content: space-betweens;
        }
    }
}