@use "../../App.scss" as var;

.hero {
    padding: 5vh 10vw;
    background-color: var.$blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var.$milk;

    .hero-text {
        width: 50%;

        a {
            color: var.$milk;
            font-weight: 600;
            font-size: 1.2rem;

            &:first-child {
                background-color: var.$yellow;
                padding: 0.5rem 1.5rem;
                margin-right: 20px;
                color: var.$blue;
                text-decoration: none;
            }
        }

        @media (max-width: var.$bp-tablet) {
            height: 40%;
            width: 100%;
        }
    }

    .hero-banner {
        width: 40%;

        img {
            width: 100%;
        }

        @media (max-width: var.$bp-tablet) {
            height: 60%;
            width: 100%;
        }

    }

    @media (max-width: var.$bp-tablet) {
        flex-direction: column;
        row-gap: 50px;
    }
}

.featured {
    padding: 0 10vw;

    h1 {
        color: var.$blue;
        font-size: 3em;
        text-align: center;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.call-to-action {
    padding: 100px 50px;
    background-color: var.$blue;
    color: var.$milk;

    h2 {
        font-size: 2em;
    }

    hr {
        height: 3px;
        background-color: var.$yellow;
        border: 0;
        width: 50px;
        margin-right: 100%;
        border-radius: 50px;
    }

    p {
        margin-block: 20px;
    }

    button {
        border: 3px solid var.$yellow;
        background: none;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: var.$milk;

        }
    }
}

.reviews {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;

    .review {
        background-color: var.$grey;
        width: 25%;

        .review-head {
            display: flex;
            justify-content: space-betweens;
        }
    }
}