@use "../../App.scss" as var;


.error-banner {
    background-color: var.$secondary;
    text-align: center;
    color: var.$text;
    padding-block: 50px;
}

.error-msg {
    text-align: center;

    h1 {
        font-size: 15em;
        text-align: center;
        margin: 25px 0 25px 0;
        text-shadow: 5px 15px var.$text-alt;
    }
}